# bundler state
/.bundle
/vendor/bundle/

db/*.sqlite3
/log/*
tmp/*

# various artifacts
**.war
*.rbc
*.sassc
.rspec
.redcar/
.sass-cache
/config/config.yml
/config/mongoid.yml
# Mac finder artifacts
.DS_Store

# Netbeans project directory
/nbproject/

# Textmate project files
/*.tmproj

# vim artifacts
**.swp
